[run]
branch = True
source = django_statsd/
omit =
    # Ignore the tests themselves
    django_statsd/tests*.py

    # Ignore migrations
    */migrations/*

    # Ignore requirement files
    requirements/*

    # Ignore manage files
    manage*

    # Ignore admin files
    django_statsd/*/admin.py

    # Ignore test_project file
    test_settings.py
[report]
exclude_lines=
    pragma: no cover
    def __repr__
    def __iter__
    def __str__
    def __unicode__
fail_under = 79
