# For testing
celery==4.0.2
logutils==0.3.4.1
mock==2.0.0
testfixtures==4.14.3
django-fake-model==0.1.4

# pytest
pytest
pytest-django

# coverage
pytest-cov
coverage
coveralls


# flake8
flake8
pep8
pyflakes
mccabe
pep8-naming
flake8-print
flake8-debugger
